

header div.banner-image {
    width:960px; 
    height:540px; 
    margin:0; 
    padding:0; 
 }

body {
   /* font-family:  'Courier Prime', monospace; */
   font-family: 'Garamond';
   max-width:60em;
   padding: 0 20px;
   align-content: center;
   border:black 10px;
   position: relative;
   background-color: #E5E5F7;
   /* opacity: 0.5;
   background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #E5E5F7 20px ), repeating-linear-gradient( #444CF755, #444CF7 );
   z-index: -1; */
}

.banner-image{
   max-width: 600pt;
   width: 100%;
   padding: 0;
}

main{
   display: flex;
   flex-direction: column;
   text-align: center;
   width: 60em;

}



@media only screen and (max-width: 600px) {
   body {
     flex-wrap: wrap;
   }
 }

.swiper-container {
   width: 100%;
   height: 100%;
}

.swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;

   /* Center slide text vertically */
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
}